<%- include('../partials/header') %>

<form action="" method="">
  <form id="add-review-form" method="POST" action="/movies/<%= movie._id %>/reviews">
  <label>Review:</label>
  <textarea name="content" value=""><%= review.content %></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>
</form>

<%- include('../partials/footer') %>